<nav class = "navbar navbar-default">
    <div class = "container-fluid">
        <div class = "navbar-header">
            <a routerLink="/" class ="navbar-brand">Recipe Book</a>
        </div>
        <div class = " navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a style = "cursor:pointer;" routerLink = "/recipes">Recipes</a></li>
                <li routerLinkActive="active"><a style = "cursor:pointer;" routerLink = "/shopping-list">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <li class = "dropdown" appDropdown>
                    <a style = "cursor:pointer;"class = "dropdown-toggle" role ="button" >Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style = "cursor:pointer;">Save Data</a></li>
                        <li><a style = "cursor:pointer;">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>