<div class = "row">
  <div class = "col-xs-12">
    <img [src] = "recipeToDisplay.imagePath" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipeToDisplay.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style = "cursor:pointer;"  (click)="addToShoppingList()">To Shopping List</a></li>
        <li><a (click)="onEditRecipe()" style = "cursor:pointer;">Edit Recipe</a></li>
        <li><a style = "cursor:pointer;">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class = "col-xs-12">
    {{recipeToDisplay.description}}
  </div>
</div>
<div class="row">
  <div class = "col-xs-12">
    <ul class= "list-group">
      <li class = "list-group-item"
      *ngFor = "let ingredient of recipeToDisplay.ingredients">
      {{ingredient.name}} - {{ingredient.amount}}</li>
    </ul>
  </div>

</div>