<div class = "container">
  <div class="row">
  <div class="col-md-5">
    <app-recipe-list></app-recipe-list>
    
  </div>

  <div class="col-md-7">
      <!--<app-recipe-detail
        *ngIf="setRecipe"
        [recipeToDisplay] = "setRecipe">
      </app-recipe-detail>-->
      <router-outlet></router-outlet>
      
    </div>

  </div>

</div>
