<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit) = "onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label>Name</label>
          <input 
            type="text" 
            id="name"
            class="form-control"
            name = "name"
            ngModel
            required>
        </div>
        <div class="col-sm-2 form-group">
          <label>Amount</label>
          <input 
            type="number" 
            id="amount" 
            class="form-control"
            name = "amount"
            ngModel
            required>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled] = "!f.valid">{{ editMode ? 'Update' : 'Add'}} </button>
          <button *ngIf="editMode" type="button" class="btn btn-danger" (click)= "onDelete()">Delete </button>
          <button type="button" class="btn btn-primary" (click)= "onClear()">Clear </button>
        </div>
      </div>
    </form>
  </div>
</div>